<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <h1>🛒 Mercado en Línea Culiacán</h1>
    </header>

    <h2>Categorías</h2>
    <div style="display: flex; flex-wrap: wrap; justify-content: center; gap: 10px;">
        <a href="/categoria/Aire acondicionado" style="text-decoration:none; background:white; padding:15px; border-radius:10px; color:black; border:1px solid #ddd;">❄️ Aires</a>
        <a href="/categoria/Cuidado personal" style="text-decoration:none; background:white; padding:15px; border-radius:10px; color:black; border:1px solid #ddd;">🧴 Cuidado</a>
        <a href="/categoria/Mascota" style="text-decoration:none; background:white; padding:15px; border-radius:10px; color:black; border:1px solid #ddd;">🐶 Mascotas</a>
    </div>

    <div class="card">
        <h3>Hacer un pedido rápido</h3>
        <form action="/pedido" method="POST">
            <input type="text" name="nombre" placeholder="Tu Nombre" required>
            <input type="text" name="colonia" placeholder="Tu Colonia" required>
            <input type="text" name="direccion" placeholder="Calle y Número" required>
            <input type="hidden" name="total" value="0">
            <input type="hidden" name="envio" value="40">
            <button type="submit">Enviar a WhatsApp</button>
        </form>
    </div>
</body>
</html>
