<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <style>
        body { font-family: Arial; background:#f4f4f4; padding:20px; }
        .box { max-width:300px; margin:auto; background:white; padding:20px; border-radius:10px; }
        input, button { width:100%; padding:10px; margin-top:10px; }
        button { background:black; color:white; }
    </style>
</head>
<body>

<div class="box">
    <h2>Panel Admin</h2>

    <form method="POST">
        <input type="text" name="usuario" placeholder="Usuario" required>
        <input type="password" name="password" placeholder="Contraseña" required>
        <button type="submit">Entrar</button>
    </form>

</div>

</body>
</html>
