<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Pedidos</title>

<style>
body { margin:0; font-family:Arial; background:#f5f5f5; }

header {
    background:black;
    color:white;
    padding:15px;
    text-align:center;
}

.pedido {
    background:white;
    margin:10px;
    padding:15px;
    border-radius:10px;
}

.btn {
    background:#00a884;
    color:white;
    padding:12px;
    border:none;
    width:100%;
    border-radius:8px;
}
</style>
</head>

<body>

<header>📦 Pedidos</header>

{% for p in pedidos %}
<div class="pedido">

<p><b>Nombre:</b> {{p.nombre}}</p>
<p><b>Tel:</b> {{p.telefono}}</p>
<p><b>Dirección:</b> {{p.direccion}}</p>

<p><b>Productos:</b></p>

<ul>
{% for prod in p.productos %}
<li>{{prod.nombre}} - ${{prod.precio}}</li>
{% endfor %}
</ul>

<p><b>Total:</b> ${{p.total}}</p>

<button class="btn" onclick="copiarPedido({{p | tojson}})">
Copiar pedido
</button>

</div>
{% endfor %}

<script>
function copiarPedido(p){
    let texto = "🛒 PEDIDO\n\n";

    texto += "👤 " + p.nombre + "\n";
    texto += "📱 " + p.telefono + "\n";
    texto += "📍 " + p.direccion + "\n\n";

    texto += "📦 Productos:\n";

    p.productos.forEach(prod => {
        texto += "- " + prod.nombre + " $" + prod.precio + "\n";
    });

    texto += "\n💰 Total: $" + p.total;

    navigator.clipboard.writeText(texto);

    alert("Pedido copiado 📋");
}
</script>

</body>
</html>
